<!-- Even in the users app you can extend a template from the blog app -->
{%extends "blog/base.html"%} 
{%load crispy_forms_tags%}
{%block content%}
    <div class="content-section">
        <!-- method="POST" is compulsory or else it won't work -->
        <form method="POST">
        <!-- also has to be there -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                <!-- The form that has all the validation -->
                <!-- .as_p will render our form as paragraph tags and it will look nicer -->
                <!-- {{form.as_p}} commenting this out since we will be using crispy forms to format our code -->
                {{ form | crispy}}
            </fieldset>
            <!-- Sign Up button as the button is not included in the form -->
            <div class="form-group">
                <button class="btn btn-outline-info">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{%endblock content%}